[Unit]
Description=ROGueENEMY service

[Service]
Type=simple
Nice = -15
Restart=always
RestartSec=5
WorkingDirectory=/home/gamer/.local/bin/
ExecStart=/home/gamer/.local/bin/rogue-enemy

[Install]
WantedBy=multi-user.target